asgiref==3.5.2
autopep8==1.7.0
Django==4.1.1
pycodestyle==2.9.1
sqlparse==0.4.2
toml==0.10.2
tzdata==2022.2
mail-parser
pandas
numpy==1.23.3
reportlab
lxml
fontawesomefree
django-crispy-forms
gunicorn
dj_database_url
psycopg2
django-heroku
whitenoise
pytz